body{
    background-color: #764134;
}

a{
    color: #AFA060;
}

table{
    border: dashed;
    border-color: #000000;
}

thead td {
    border: dashed;
    font-size: 18px;
    font-weight: bold;
}

td {
    padding: 12px;
    border: dashed;
    border-color: #2A1A1F;
    font-size: 14px;
    text-align: right;
}

button{
    margin: 15px;
    width: 140px;
    height: 40px;
    background-color: #AD8350;
}

.Card{
    height: 303px;
    width: 208px;
    padding: 15px;
}