body {
    background-color: #764134;
    font-family: 'Black And White Picture', sans-serif;
}

header {
    background-color: #2A1A1F;
    color: #AD8350;
}

h1 {
    color: #AD8350;
    font-size: 48px;
    letter-spacing: 40px;
    margin-left: 80px;
}

ul li a {
    color: #AFA060;
}

table {
    border: dashed;
    border-color: #000000;
}

thead td {
    border: solid;
    font-size: 18px;
    font-weight: bold;
    background-color: #AD8350;
}

td {
    padding: 12px;
    border: dashed;
    font-size: 14px;
    background-color: #AFA060;
}

button {
    margin: 15px;
    width: 140px;
    height: 40px;
    background-color: #AD8350;
}

img {
    
}

main div {
    position: absolute;
    margin: 25px;
    padding: 15px;
}

.card {
    position: relative;
    margin: auto;
    display: block;
    height: 151.5px;
    width: 104px;
    padding: 15px;
}

.buttonshelf {
    
}
#deck, #discard{
    top: 40vw;
}

#computer,
#player {
    top: 15vh;
}

#computer, #discard {
    left: 30vw;
}

#player, #deck {
    left: 45vw;
}



footer{
    position: absolute;
    top: 70vw;
}